.home-btn {
    color: var(--accent);
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.home-btn:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #a68eff;
}

.auth-btn,
.auth-form button,
.auth-form .btn-register,
.load-history-btn {
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.auth-btn:hover,
.auth-form button:hover,
.auth-form .btn-register:hover,
.load-history-btn:hover {
    background-color: var(--primary-light);
    box-shadow: 0 0 10px #d1b9ff;
}

.load-history-btn {
    align-self: center;
    margin-bottom: 10px;
    padding: 8px 18px;
    box-shadow: 0 0 8px #9d86ff;
    z-index: 1;
}
