<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <meta name="userEmail" th:content="${userEmail}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/styles.css" />
</head>
<header class="app-header">
    <div class="left-side">
        <span class="logo">ChatApp</span>
    </div>

    <div class="center">
        <a th:if="${isAuthenticated}" href="/" class="home-btn">Home</a>
    </div>

    <div class="right-side">
        <a th:if="${!isAuthenticated}" href="/auth/login" class="auth-btn">Login</a>

        <form th:if="${isAuthenticated}" action="/auth/logout" method="post">
            <button type="submit" class="auth-btn">Logout</button>
        </form>
    </div>
</header>
<body>
<div id="container">
    <div id="users">
        <div class="greeting" th:text="'Hello, ' + ${userEmail} + '!'"></div>
        <div th:each="user : ${users}"
             th:if="${user.email} != ${userEmail}"
             class="user-btn"
             th:data-user-id="${user.id}"
             th:text="${user.email}">
        </div>
    </div>
    <div id="chat">
        <div id="messages">
        </div>
        <div id="inputRow">
            <input type="text" id="msgInput" placeholder="Type a message...">
            <button id="sendBtn">Send</button>
        </div>
    </div>
</div>
</body>
</html>
