<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<header class="app-header">
    <div class="left-side">
        <span class="logo">ChatApp</span>
    </div>

    <div class="center">
        <a th:if="${isAuthenticated}" href="/" class="home-btn">Home</a>
    </div>

    <div class="right-side">
        <a th:if="${!isAuthenticated}" href="/auth/login" class="auth-btn">Login</a>

        <form th:if="${isAuthenticated}" action="/auth/logout" method="post">
            <button type="submit" class="auth-btn">Logout</button>
        </form>
    </div>
</header>
<body>
<div class="page-center">
    <form action="/auth/login" method="post" class="auth-form">
        <label for="email">Email:
            <input id="email" type="email" name="email" required />
        </label>
        <label for="password">Password:
            <input id="password" type="password" name="password" required minlength="8" />
        </label>

        <button type="submit">Login</button>

        <div class="error-messages" th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}"></p>
        </div>

        <a href="#" th:href="@{/auth/registration}" class="btn-register">Register</a>
    </form>
</div>
</body>
</html>
